<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Tracker</title>
</head>
<body>
<a href="/">All</a>
<a href="/?drivetype=2WD">2WD</a>
<a href="/?drivetype=4WD">4WD</a>
<a href="/logout">Logout</a>
<br><br>

<form action="add-car" method="post">
    <input type="text" placeholder="Car Make" name="make"/>
    <input type="text" placeholder="Car Model" name="model"/>
    <select name="mileage">
        <option value="0 - 50,000">0-50,000</option>
        <option value="50,001 - 100,000">50,001-100,000</option>
        <option value="100,001 - 150,000">100,001-150,000</option>
        <option value="150,001 - 200,000">150,001-200,000</option>
        <option value="200,001+">200,001+</option>
    </select>
    <select name="drivetype">
        <option value="2WD">2WD</option>
        <option value="4WD">4WD</option>
    </select>
    <button type="submit">Submit</button>
</form>

{{#cars}}
{{id}}. {{make}} - {{model}} - {{mileage}} - {{drivetype}}
<a href="update?id={{id}}" >Update</a>
<form action="delete-car" method="post" style="display:inline">
    <input type="hidden" value={{id}} name="id"/>
    <button type="submit">Delete</button>
</form><br>

{{/cars}}
</body>
</html>